/koment
/dist/
/bin/

/editors/vscode/bin/
/editors/vscode/icon.png
/editors/vscode/LICENSE

*.test
*.out
coverage.*

.DS_Store
node_modules/
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/mcp.json
!.vscode/settings.json
*.swp
.mise.local.toml
.mise.local.lock
